<div id="contenedor" class="row p-5">
    <div id="image-title" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <div id="image-contenedor">
            <img id="image" class="img-fluid" src="../../../assets/photo_perfil.webp">
        </div>
        <div id="title">
            <strong>Ruiz Díaz Alejandro Nahuel</strong>
            <p>Full Stack Developer Jr.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2>Acerca de mí persona</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aliquam numquam similique ut soluta
            necessitatibus quis et eos consequatur. Architecto quisquam, sunt beatae nostrum dolorem doloremque dolor
            perspiciatis natus quibusdam.</p>
    </div>
</div>