<div id="contenedor" class="row p-5">
    <div id="image-title" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <div id="image-contenedor">
            <img id="image" class="img-fluid" src="../../../assets/photo_perfil.webp">
        </div>
        <div id="title">
            <strong>{{ persona.name }} {{ persona.last_name }}</strong>
            <p>{{ persona.job }}</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2>Acerca de mí persona</h2>
        <p>{{ persona.description }}</p>
    </div>
</div>