<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Argentina Programa</title>
</head>

<body>
  <header>
    <app-header></app-header>
    <app-banner></app-banner>
  </header>
  <div class="container">
    <app-acerca-de></app-acerca-de>
    <app-experiencias></app-experiencias>
    <app-educacion></app-educacion>
    <app-hardskills></app-hardskills>
    <app-proyectos></app-proyectos>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>

</html>