<div class="row p-5">
    <div class="col-12 pb-2">
        <h1>Hard & Soft Skills</h1>
    </div>
    <div class="text-center row">
        <div class="col">
            <circle-progress [percent]="90" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [showTitle]="false"
                [showUnits]="false" [imageSrc]="'../../../assets/java.png'" [showImage]="true" [imageHeight]="100"
                [imageWidth]="100" [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [subtitle]="'Desarrollo de Software'" [percent]="85" [radius]="100" [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [showTitle]="false" [showUnits]="false" [imageSrc]="'../../../assets/php.png'" [showImage]="true"
                [imageHeight]="100" [imageWidth]="100" [animationDuration]="800">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [subtitle]="'Desarrollo de Software'" [percent]="55" [radius]="100" [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [showTitle]="false" [showUnits]="false" [imageSrc]="'../../../assets/python.png'" [showImage]="true"
                [imageHeight]="100" [imageWidth]="100" [animationDuration]="800">
            </circle-progress>
        </div>
    </div>
</div>