<div class="row">
    <div class="p-5 col-xs-12">
        <h1 >Experiencia Laboral</h1>
    </div>
    <div id="trabajo-contenedor" class="row">
        <div id="image-contenedor" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <img id="image" class="img-fluid"
                src="https://i.pinimg.com/originals/36/d4/62/36d46285c8bc86c5f0d9238275887f88.png">
        </div>
        <div id="trabajo" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h3>Nombre de Trabajo Nro. 1</h3>
            <h4>Título del Puesto Nro. 1</h4>
            <strong>Desde 01/01/2020 a 01/01/2021</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ea laudantium, autem quasi ratione eum
                accusamus earum tempore nihil maiores minus nisi ad saepe optio dolores facilis at mollitia totam.</p>
        </div>
    </div>
    <div id="trabajo-contenedor" class="row">
        <div id="image-contenedor" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <img id="image" class="img-fluid"
                src="https://i.pinimg.com/originals/36/d4/62/36d46285c8bc86c5f0d9238275887f88.png">
        </div>
        <div id="trabajo" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h3>Nombre de Trabajo Nro. 1</h3>
            <h4>Título del Puesto Nro. 1</h4>
            <strong>Desde 01/01/2020 a 01/01/2021</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ea laudantium, autem quasi ratione eum
                accusamus earum tempore nihil maiores minus nisi ad saepe optio dolores facilis at mollitia totam.</p>
        </div>
    </div>
</div>