#image-contenedor {
    padding: 25px;
}

#educacion-contenedor {

    background-color: rgb(177, 225, 247);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;

}

#educacion{
    padding: 20px;
}

#image{
    width: 70%;
}