<div class="row p-5">
    <div class="col-12 pb-2">
        <h1>Mis Proyectos realizados</h1>

    </div>
    <div class="col-xs-12">
        <div>
            <h3>Sistema de gestión empleados</h3>
            <span>Realizado en el año 2020</span>
            <p><a href="#">www.prueba.com.ar</a></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestias perspiciatis recusandae explicabo
                illo sit, eligendi accusantium tenetur dignissimos culpa illum non dolor suscipit pariatur totam fugit
                placeat ea ratione.</p>
            <div class="text-center">
                <img class="img-fluid shadow" src="../../../assets/portal-empleado-kenjo.png" alt="">
            </div>
        </div>
    </div>
</div>